[submodule "scripts"]
	path = scripts
	url = https://github.com/bokov/ut-template
	branch = ft_tidbits_dr_refactor00
[submodule "course_notes"]
	path = course_notes
	url = https://github.com/bokov/TSCI-5050-Course-Notes
